@media(max-width: 700px) {
    .showcase{
        height: auto;

        &-content{
            text-align: center;

            img{
                // display: none;
            }
        }
    }

    .bars{
        background: #999;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px;
    }
    
    .bars::before, .bars::after{
        background: #999;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 18px;
    }
    
    .bars::before{
        top: 5px;
    }

    .bars::after{
        top: -5px;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    // .menu li{
    //     display: block;
    // }

    .item{
        width: 100%;
        text-align: center;
        order: 2;
        display: none;
    }

    .item.active{
        display: block;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center center;
      }

      .footer-content{
          text-align: center;
      }

}