@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: #F9B161;
}

.showcase nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase nav img {
  height: 80%;
}

.showcase nav ul {
  display: flex;
  list-style-type: none;
}

.showcase nav li {
  padding: 15px;
}

.showcase nav a {
  color: #fff;
  font-weight: 600;
}

.showcase nav a:hover {
  color: #ff8700;
}

.showcase-content {
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 100wh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
}

.showcase-content img {
  width: 70%;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-padding {
  padding-top: 2rem;
}

.overview {
  margin: 15px;
}

.overview h1 {
  color: #333;
}

.overview p {
  color: #333;
  padding-top: 1rem;
  text-align: justify;
}

.overview a {
  margin-top: 2rem;
  text-align: center;
}

.homepage-tree {
  width: 50%;
}

.wrapper {
  display: grid;
}

.wrapper .box {
  color: #333;
  border-radius: 5px;
  padding: 20px;
  padding-top: 1rem;
}

.wrapper p {
  padding-top: 1rem;
  color: #333;
}

.wrapper h1 {
  color: #333;
}

.wrapper .a {
  grid-column: span 1;
  grid-row: row;
}

.wrapper .b {
  grid-column: span 1;
  grid-row: row;
  text-align: center;
}

.wrapper .c {
  grid-column: span 2;
  grid-row: row 2;
}

.wrapper .homepage-tree {
  width: 80%;
  align-items: center;
}

.btn-padding {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  text-align: center;
}

.footer {
  background-color: #f5f5f5;
  padding: 1em;
}

.footer p {
  font-size: small;
}

.footer-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  place-items: center center;
}

.social-icon {
  height: 40px;
  margin: 1em;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.btn-secondary,
.btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border: 2px solid #0078D4;
  font-size: 15px;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.btn-secondary:hover,
.btn-primary:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: #0078D4;
  color: #fff;
}

.btn-secondary {
  color: #0078D4;
  background-color: white;
}

@media (max-width: 700px) {
  .showcase {
    height: auto;
  }

  .showcase-content {
    text-align: center;
  }

  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
  }

  .bars::before,
  .bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
  }

  .bars::before {
    top: 5px;
  }

  .bars::after {
    top: -5px;
  }

  .item {
    display: none;
  }
}

